@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: -webkit-fill-available;
    height: 100%;
    margin-top: 0;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap;
}
.nav li {
    margin: 0 20px;
    position: relative;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    font-family: 'Open Sans';
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #0bbd29, #0bbd29 80%, #fff 20%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}
.navbar-brand {
    font-size: xx-large;
}
.nav a:before {
    display: block;
    content: '';
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #0bbd29;
    transition: all 0.3s ease-in-out;
}
.nav a:hover {
    background-position: 0%;
}
.nav a:hover:before {
    width: 100%;
}
.nav .nav-item a.nav-link {
    color: gray;
    position: relative;
}
.nav .nav-item a.nav-link:before {
    content: '';
    width: 0;
    height: 3px;
    bottom: -3px;
    left: 0;
    position: absolute;
    background: #0bbd29;
    transition: all 0.3s ease-in-out;
}
.nav .nav-item a.nav-link:hover:before {
    width: 100%;
}
.nav .nav-item.active a.nav-link:before {
    width: 100%;
    background: #0bbd29;
}


.logIn {
    color: #0bbd29;
    border: 3px solid #0bbd29;
    background-color : transparent;
    box-shadow: rgba(100, 100, 110, 0.4) 0px 7px 29px 0px;
    border-radius: 10px;
    font-size: 20px;
    width: 110px;
    height: 45px;
}
.logIn:hover {

    color: #fff;
    background-color: #0bbd29;
    border-radius: 10px;

}


.profile-icon {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    border: 0px solid black;
    background: #0bbd29;
}
.profile-icon:hover {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    border: 0px solid black;
    background: #0ea126;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #525252;
    margin: 15px 0 10px;
}

.user-info {
    display: flex;
    align-items: center;
}
.user-info h3 {
    font-weight: 500;
    margin: 0;
    flex-grow: 1;
}
.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sub-menu-link p {
    width: 100%;
    color: #525252;
    margin-top: 0%;
    margin-bottom: 0%;
}
.sub-menu-link i {
    width: 35px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
    color: #525252;
}
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
    right: 5%;
    color: #525252;
}
.sub-menu-link:hover span {
    transform: translateX(5px);
}
.sub-menu-link:hover p {
    font-weight: 600;
}