
.loginSep {
    overflow-y: hidden;
    width: 84.46%;
    margin-top: 10px;
}

.w-fit {
    width: 84.46%;
}

.w-fit-s {
    width:50%;
}

.loginButton {
    height: 38px;
    width: 84.46%;
    border-radius: 5px;
}

.settingsButton {
    height: 38px;
    width: 90.5%;
    border-radius: 5px;
}

.signButton {
    margin-bottom: 5px;
    Text-Decoration: None !important;
    color: #0bbd29;
}

.signButton:hover {
    margin-bottom: 5px;
    Text-Decoration: None !important;
    color: #0bbd29;
}

#line {
    width: 40%;
    text-align: left;
    height: 1.5px;
    float: left;
    color: black;
}

nav {
    box-shadow: 0px 1px 10px gray;
}

.nav-log {
    font-size: 20px;
    color: #000000;
}

.orDiv {
    margin-top: 4px;
    margin-left: 5.672%;
    margin-right: 5.672%;
    width: 8.656%;
    color: black;
    float: left;
}

.or {
    color:black;
}

#regBorder {
    margin: auto!important;
    border-width:2px;
    border-style:solid;
    border-color:black;
    border-radius: 10px;
    min-width: 350px;
    max-width: 600px;
    width: 40%;
    background: white;
}

#badEvent {
    color: #E1332D;
    width: 100%;
}

#goodEvent {
    color: #008000;
    width: 100%;
}

.msgSpace {
    margin-top: 10px;
 }

.table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

.horizontal-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.horizontal-stack-w-home {
    width: 86%;
    max-width: 86%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: justify;
}

.horizontal-stack-w-text {
    width: 86%;
    max-width: 86%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    text-align: justify;
}

.buttonDisabled {
    /* Cursor:text !important; */
    Text-Decoration: None !important;
}

.table-center {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 90%;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

.container-padding {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.btn-primary {
    background-color: #0bbd29;
    border-color: #0bbd29;
}

.btn-primary:hover {
    background-color: #129a29;
    border-color: #129a29;
}

#confirmation {
    display: none;
}

/* #new-password {
    display: none;
} */

#change-password {
    display: none;
}

.horizontal-stack-flash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    box-shadow: 0 0 0px rgba(11, 189, 41, 0.5);
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    &:focus {
        border-color: #0bbd29;
        box-shadow: 0 0 7.5px rgba(11, 189, 41, 0.5);
    }
}

.g_id_signin {
    width: 84.46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.g_id_signin iframe {
    width: 84.46%;
}


.edit-button {
    margin-left: 12.5px;
    margin-right: 5px;
    margin-top: 7.5px;
}

.edit-text {
    font-size: 19px;
    color: white;
    margin-right: 12.5px;
    height: 30px;
}
.edit-text:hover {
    font-size: 19px;
    color: white;
    margin-right: 12.5px;
    height: 30px;
}

.horizontal-stack-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}