{% extends "layout.html" %}

{% block title %}
   About
{% endblock %}

{% block main %}
    <h1>About</h1>
    <br>
    <div class="horizontal-stack-inner w-fit mx-auto">
        <div style="padding-right: 50px;">
            <h2>Purpose</h2>
            <p class="text-block">Welcome to our language learning platform, where we've crafted a unique space for language enthusiasts to elevate their German conversation skills effortlessly. Our innovative program provides a dynamic environment for practicing spoken German, focusing on sentence construction and grammar. Through simulated conversations with our responsive program, users can engage in interactive dialogue, receiving instant feedback on their language proficiency. Our hands-free and ergonomic design ensures a seamless learning experience, allowing users to concentrate fully on constructing sentences without unnecessary distractions. Additionally, our platform generates transcripts of your discussions, offering a valuable tool for self-assessment and identifying areas for improvement. Embrace the journey of mastering German with a user-friendly interface available in multiple languages, fostering a diverse and inclusive learning community.</a>    
        </div>
        <div>
            <h2>Purpose</h2>
            <p class="text-block">Welcome to our language learning platform, where we've crafted a unique space for language enthusiasts to elevate their German conversation skills effortlessly. Our innovative program provides a dynamic environment for practicing spoken German, focusing on sentence construction and grammar. Through simulated conversations with our responsive program, users can engage in interactive dialogue, receiving instant feedback on their language proficiency. Our hands-free and ergonomic design ensures a seamless learning experience, allowing users to concentrate fully on constructing sentences without unnecessary distractions. Additionally, our platform generates transcripts of your discussions, offering a valuable tool for self-assessment and identifying areas for improvement. Embrace the journey of mastering German with a user-friendly interface available in multiple languages, fostering a diverse and inclusive learning community.</a>    
        </div>
    </div>
    {% endblock %}