{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div id="regBorder">
        <br>
        <h1>Log In</h1>
        <br>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-fit" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-fit" id="password" name="password" placeholder="Password" type="password">
            </div>
            {% if error %}
                <a id="badEvent">{{error}}</a>
            {% endif %}
            <button class="fbtn btn-primary mx-auto loginButton msgSpace" type="submit">Log In</button>
            <div class="loginSep mx-auto">
                <hr id="line">
                <div class="orDiv">
                    <a class="or buttonDisabled">OR</a>
                </div>
                <hr id ="line">
            </div>
            <a class="signButton" href="/register">Sign Up</a>
        </form>
        <br>
    </div>
{% endblock %}
