{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
    <div class="horizontal-stack horizontal-stack-w-menu">
        <button class="fbtn btn-primary menu-button button-style" onclick="edit()">
            <div class="horizontal-stack-inner">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" class="menu-button-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="3">
                    <line x1="8" y1="0" x2="8" y2="16"></line>
                    <line x1="0" y1="8" x2="16" y2="8"></line>
                </svg>
                <a class="menu-button-text button-style">Add</a>
            </div>
        </button>

        <div class="horizontal-stack-center">
            <h1 class="remove">Menu</h1>
        </div>

        <button class="fbtn btn-primary menu-button button-style" onclick="edit()">
            <div class="horizontal-stack-inner">
                <i class="fas fa-edit menu-button-icon"></i>
                <a class="menu-button-text button-style">Edit</a>
            </div>
        </button>
    </div>
    <br>
    <div class="table-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Language</th>
                    <th>Date</th>
                    <th>Length</th>
                    <th>Recording ID</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Language</th>
                    <th>Date</th>
                    <th>Length</th>
                    <th>Recording ID</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr>
                        <td> {{ session["title"] }} </td>
                        <td> {{ session["language"] }} </td>
                        <td> {{ session["date"] }} </td>
                        <td> {{ session["length"] }} </td>
                        <td> {{ session["recording_id"] }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}