{% extends "layout.html" %}

{% block title %}
    New conversation
{% endblock %}

{% block main %}
    <div class="horizontal-stack horizontal-stack-w-new">
        <button class="fbtn btn-primary menu-button button-style" onclick="back()">
            <div class="horizontal-stack-inner">
                <span onclick="open_select(this)" class="icon_select_mate" data-n-select="0" style="transform: rotate(90deg);">
                    <svg fill="#fff" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"></path>
                        <path d="M0-.75h24v24H0z" fill="none"></path>
                    </svg>
                </span>
                <a class="button-style" style="margin-right: 12.5px;">Back</a>
            </div>
        </button>
        <div class="horizontal-stack-center">
            <h1 id="pageTitle">Create</h1>
        </div>
        <button class="fbtn btn-primary menu-button button-style" onclick="edit()" style="visibility: hidden;">
            <div class="horizontal-stack-inner">
                <i class="fas fa-edit menu-button-icon"></i>
                <a class="menu-button-text button-style">Edit</a>
            </div>
        </button>
    </div>
    <br>
    <div class="horizontal-stack-w-tex">
        <a>Please select the topic and language of discussion.</a>
    </div>
    <form action="/new" method="post" class="centered" style="width: 80%;">
        <br>
        <div class="w-fit horizontal-stack centered" id="topic">
            <h2 id="topicTitle" style="display: none; width: fit-content; text-align: left!important; font-size: 30px; margin-right: 20px;">Topic: </h2>
            <input autocomplete="off" autofocus class="form-control mx-auto w-fit" type="text" minlength="4" maxlength="50" id="topicInput" name="topicInput" placeholder="Enter a topic..." style="width:-webkit-fill-available">
        </div>
        <br>
        <select class="form-contro mx-auto w-fit" id="languageSelect" name="languageSelect">
            <option disabled selected value="default" style="width: 100%;">-- Select Language --</option>
            <option value="Arabic">Arabic</option>
            <option value="Bengali">Bengali</option>
            <option value="Chinese">Chinese</option>
            <option value="English">English</option>
            <option value="French">French</option>
            <option value="German">German</option>
            <option value="Hindi">Hindi</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Portugese">Portugese</option>
            <option value="Russian">Russian</option>
            <option value="Spanish">Spanish</option>
            <option value="Urdu">Urdu</option>
        </select>
        <br>
        <select class="form-contro mx-auto w-fit" id="proficiencySelect" name="proficiencySelect">
            <option selected value="default" style="width: 100%;">-- Select Proficiency [optional] --</option>
            <option value="Elementary Proficiency">Elementary Proficiency</option>
            <option value="Limited Working Proficiency">Limited Working Proficiency</option>
            <option value="Professional Working Proficiency">Professional Working Proficiency</option>
            <option value="Full Professional Working Proficiency">Full Professional Working Proficiency</option>
            <option value="Native Proficiency">Native Proficiency</option>

        </select>
        <br>
        {% if error %}
            <a id="badEvent">{{error}}</a>
            <br>
        {% endif %}
        <button class="fbtn btn-primary mx-auto msgSpace loginButton" type="submit">Start</button>
    </form>
    <script>
        var w = window.innerWidth;
        var h = window.innerHeight;
        var topicTitle = document.getElementById("topicTitle");
        var pageTitle = document.getElementById("pageTitle");
        if (w > 800) {
            topicTitle.style.display = 'flex'
            pageTitle.innerText = 'Create Conversation'
        }
        function back() {
            window.location.pathname = "/";
        }
    </script>
{% endblock %}